@charset "UTF-8";

.contents {
	margin: 0 auto;
	padding: 20px;
	width: 900px;
	background-color: #eff3f4;
}

.textbox {
	font-size: 18px;
	line-height: 22px;
}

.textbox-left-img {
	float:left;
	margin: 0 20px 10px 0;
}

.textbox-right-img {
	float: right;
	margin: 0 0 10px 20px;
}

.text {
	word-break: break-all;
}